<% if @failed_login %>
  <script type="text/javascript">
    alert("Incorrect Email or Password!");
  </script>
<% end %>

<div class="container">
  <div class="jumbotron">
    <img class="logo" src="<%= asset_path( 'sswhite.png' ) %>">

    <div class="login_window">
      <h4>Welcome!</h4>
        <%= form_for(:session, url: login_path, html: {autocomplete: "on"}) do |f| %>
          <%= f.email_field :email, :placeholder => "Email" %> <br/>
          <%= f.password_field :password, :placeholder => "Password" %> <br/> <br/>
          <%= f.submit "Log In", :class => 'login_button' %>
        <% end %>
        <label>
      </form>
    </div>
  </div>
</div>
