<div class="container">
  <h1><%= @admin.name%>'s Admin Controls</h1>
  <hr>
  <h2>System User List:</h2>

  <% if !flash[:user_operation_notice].blank? %>
    <div class="alert alert-info">
    <%= flash[:user_operation_notice] %>
    </div>
  <% end %>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Operations</th>
      </tr>
    </thead>

    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= (user.type.nil?) ? "User" : user.type %>
      </td>
      <td><%= link_to "Delete", user_path(id: user.id), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete #{user.name}?"} %></td>
    </tr>
    <% end %>
  </table>
</div>
