<h1>Sign Up</h1> <br/>

<%= form_for(@user) do |f| %>
  Name: <%= f.text_field :name, :placeholder => "Name" %> <br/> <br/>
  Email: <%= f.email_field :email, :placeholder => "Email" %> <br/> <br/>
  Password: <%= f.password_field :password, :placeholder => "Password" %> <br/> <br/>
  <%= f.submit "Create Account" %>
<% end %>
