<div class="container">
  <h1>Upload Video</h1>
  <hr>

  <% if !@video.errors.empty? %>
    <div class="alert alert-error">
      <ul>
        <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
    <%= form_for @video, html: { multipart: true } do |f| %>
      <%= f.label :title, :placeholder => "Title" %>
      <%= f.text_field :title %><br/>
      <%= f.label :filename, 'File:' %>
      <%= f.file_field :filename %><br/>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
