<div class="container">

  <h1><%= current_user.name %>'s Music Library</h1>
  <hr>

  <% if !flash[:notice].blank? %>
    <div class="alert alert-info">
    <%= flash[:notice] %>
    </div>
  <% end %>

  <br />
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Listen</th>
        <th>Download Link</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <td><%= song.title %></td>
          <td><%= audio_tag(song.filename_url) %>
          <td><%= link_to "Download", song.filename_url, class: "btn btn-primary" %></td>
          <td><%= button_to "Delete",  song, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete #{song.title}?"} %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
