<div class="container">

  <h1><%= current_user.name %>'s Music Library</h1>
  <hr>

  <% if !flash[:notice].blank? %>
    <div class="alert alert-info">
    <%= flash[:notice] %>
    </div>
  <% end %>
  <br />
  <%= link_to "Upload", new_song_path, class: "btn btn-primary" %>
  <br />
  <br />
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Download Link</th>
        <th>Operations</th>
        <th>Extra</th>
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <td><%= song.title %></td>
          <td><%= link_to "View", song.filename_url %></td>
          <td><%= button_to "Delete",  song, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{song.title}?" %></td>
          <td><%= button_to "Show", song, method: :show, class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
