<div class="container">
  <h1><%= @song.title %></h1>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <% if @song_data%>
        <%= image_tag @song_data[:art_url] , class:"album_art thumbnail"%>
      <% end %>
    </div>

    <%= @song_data[:artist]%>
    <%= @song_data[:album]%>
    <%= link_to "Find on Spotify", @song_data[:spotify_url], class:"btn btn-success"%>

    <div class="col-sm-9">
      <!-- <p>Artist</p>
      <p>Album</p>
      <p>Genre</p> -->
      <%= audio_tag(@song.filename.url, alt: '@song.title')%>
    </div>
  </div>
</div>
