<div class="container">

  <h1><%= current_user.name %>'s Music Library</h1>
  <hr>

  <% if !flash[:notice].blank? %>
    <div class="alert alert-info">
    <%= flash[:notice] %>
    </div>
  <% end %>
  <br />
  <%= link_to "Upload", new_music_path, class: "btn btn-primary" %>
  <br />
  <br />
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Download Link</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <% @musics.each do |music| %>
        <tr>
          <td><%= music.title %></td>
          <td><%= link_to "View", music.filename_url, class: "btn btn-primary" %></td>
          <td><%= button_to "Delete",  music, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete #{music.title}?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
