<div class="container">

  <h1><%= current_user.name %>'s Library :</h1>

  <% if !flash[:notice].blank? %>
    <div class="alert alert-info">
    <%= flash[:notice] %>
    </div>
  <% end %>
  <br />
  <%= link_to "Upload", new_upload_path, class: "btn btn-primary" %>
  <br />
  <br />
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Download Link</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @uploads.each do |upload| %>
        <tr>
          <td><%= upload.title %></td>
          <td><%= link_to "View", upload.attachment_url %></td>
          <td><%= button_to "Delete",  upload, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{upload.title}?" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
