<div class="container">

  <h1><%= current_user.name %>'s Image Library</h1>
  <hr>

  <% if !flash[:notice].blank? %>
    <div class="alert alert-info">
    <%= flash[:notice] %>
    </div>
  <% end %>
  <br />

  <% @images.each do |image| %>
    <%= link_to(image_tag(image.filename.url, alt: 'Image', :class =>"imgthumb"), image, action: :show) if image.filename? %>
  <% end %>
</br> </br>
  <h1>Images Shared with <%= current_user.name %></h1>
  <hr>

  <% if current_user.shared_media.empty? %>
    <p> No shared media by others. Get a link from other users or check your social media. </p>
  <% else%>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Download Link</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.shared_media.each do |medium| %>
          <% if medium.type == "Image" %>
            <tr>
              <td><%= medium.title %></td>
              <td><%= link_to "View", medium.filename_url, class: "btn btn-primary" %></td>
              <td>
                <%= button_to "Remove",  share_remove_path, method: :post, params: {medium_id: medium.id}, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to remove #{medium.title}?"} %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
