<!DOCTYPE html>
<html>
<head>
  <title>StreamShare</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'welcome' %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <% if current_user %>
          <%= link_to "Log Out", logout_path, method: "delete" %>
        <% else %>
          <%= link_to "Log In", 'login' %>
        <% end %>
      </li>
      <li class="navbar-right">
        <% if current_user %>
          <p color="white"><%= current_user.email %><p>
        <% else %>
          <%= link_to "Sign Up", 'signup' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
